* {
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
}

a {
  background: transparent;
}

.navbar-heading {
  background: #25a58e;
  min-height: 70px;
  position: fixed;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  z-index: 99;
  white-space: nowrap;
  margin-top: -20px;
}

.navbar-heading a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

.navbar-heading ul {
  margin: 0;
  padding: 0;
}

.navbar-heading li {
  display: inline-block;
  padding: 50px 0 30px;
  width: 33.3%;
  text-align: center;
  font-size: 1.8em;
}

.bg-img {
  background: url('../basketball-court.jpg');
  width: 100vw;
  height: 80vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-mask {
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.65);
}

.landing-content {
  position: absolute;
  z-index: 2;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
}

.landing-content h1 {
  font-size: 4.5em;
  margin-top: 30px;
}

.landing-content h2 {
  margin-top: 15px;
  color: #27ddbc;
}

.container {
  margin: 60px auto;
}

.card {
  background: white;
  border-radius: 2px;
  height: 225px;
  width: 20.75%;
  margin: 1.5rem;
  position: relative;
  box-shadow: 2px 4px 8px #777;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 3px 6px 12px #555;
  transition: 0.5s;
}

.img-container {
  height: 100%;
  width: 100%;
}

.card > .img-container > img {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.footer {
  background: #27ddbc;
  height: 100px;
  position: relative;
  color: white;
  overflow: auto;
}

.footer > .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #25a58e;
  padding: 8px;
  font-weight: 600;
}

.footer > .bottom > img {
  width: 40px;
  position: relative;
  left: 5px;
}
